<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>{{contact.name}}</h3>
                <img src="{{contact.imageUrl}}" alt="{{contact.name}}" style="max-height:100px">
                <div class="pull-right">
                <button class="btn btn-primary" type="button">Edit</button>
                &nbsp;
                <button class="btn btn-danger" type="button">Delete</button>
                </div>
            </div>
    

            <div class="row">
                <div class="col-xs-11">
                    <div class="col-md-6">
                        <b>Email:</b> {{ contact.email }}
                        <br>
                        <b>Phone:</b> {{ contact.phone }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>