<div class="row">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row pad-left-right">
                    <span class="title pull-left">Messages</span>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <!--Add tag to load the MessageItemComponent-->
                        <!-- *ngFor="let message of messages" [message]="message" (messageSelected)="onMessageSelected($event)" -->
                        <app-message-item *ngFor="let msg of messages" 
                            [message]="msg"
                            (messageSelected)="onMessageSelected(msg)">
                        </app-message-item>

                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <app-message-edit (messageAdded)="onAddMessage($event)">
                    <!-- <div *ngfor="let msg of messages">
                        <app-message-item [message]="msg"></app-message-item>
                    </div> -->
                </app-message-edit>
                <!--Add tag to load the MessageEditComponent-->
            </div>
        </div>
    </div>
</div>